body {
    margin: 20px auto;
    min-width: 200px;
    max-width: 900px;
    width: 80%;
    color: #333;
    background-color: #fdfdfd;
    line-height: 1.6em;
    font-size: 20px;
    font-family: "Noto Sans", "PT Sans", "Myriad", "Calibri", sans-serif;
}

p {
    text-align: justify;
    line-height: 1.8em;
    margin-bottom: 1.5em;
}

h1, h2, h3, h4, h5 {
    font-family: "Linux Libertine O", "PT Serif", "Georgia", serif;
    color: #555;
    line-height: 1.2em;
}

h1 {
    font-size: 200%;
    margin-top: 50px;
    text-align: center;
}

h2 {
    font-size: 170%;
    margin-top: 40px;
}

h3 {
    font-size: 140%;
    margin-top: 30px;
}

a {
    color: #d33;
    text-decoration: none;
}

blockquote {
    width: 80%;
    margin: 1em auto;
}

